body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4B0082; /* Indigo */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    margin: 20px;
}

aside {
    background-color: #E6E6FA; /* Lavender */
    padding: 20px;
    width: 20%;
    margin-right: 20px;
    border-radius: 10px;
}

main {
    background-color: #fff;
    padding: 20px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2, p {
    margin: 0 0 10px 0;
}

footer {
    background-color: #4B0082;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin: 5px 0;
}

#motivational-message {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}